{% extends 'base.html' %}

{% block title %}
Загрузка файла
{% endblock %}

{% block body %}
    <h1>Загрузка файла</h1>
    <p>
        <form action="/download" method="post" enctype="multipart/form-data">
            <p><input type="file" name="file" clss="form-control"></p>
            {% if empty %}
            <p> <b>Ошибка:</b> <i>убедитесь, что файл не пустой</i></p>
            {% endif %}
            <p><input type="submit" class="btn btn-success" value="Загрузить"></p>
        </form>
    </p>
{% endblock %}
